@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Конвертор стандартов</title>
</head>
<body>
    <div>
        <h3> Конвертор стандартов </h3>
        
        @using (Html.BeginForm("StandartConvert", "Home", FormMethod.Post))
        {
            <table>
                <tr>
                    <td><p>Выберите: </p></td>
                    <td><select id="service" name="services">
                        <option value="">Услуги</option>
                        <option>Предоставление сведений об административных правонарушениях ГИБДД</option>
                        <option>Сведения о наличии (отсутствии) задолженности</option>
                    </select> </td>
                </tr>
                <tr>
                    <td><input type="submit" value="Отправить" /> </td>
                    <td></td>
                </tr>
            </table>
        }

        <h3>Выберите файл для загрузки</h3>
        @using (Html.BeginForm("Upload", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <input type="file" name="upload" />
            <br>
            <input type="submit" value="Загрузить" />
        }

    </div>
</body>
</html>